<form id="login-form" method="post" action="index.exe?action=login"> 
  <div>
    <span class="form-line">
      <label for="emailText">E-mail</label>
      <input type="text" id="emailText" name="emailText" />
    </span>
    <span class="form-line">
      <label for="passwordText">Password</label>
      <input type="password" id="passwordText" name="passwordText" />
    </span>
    <span class="form-line">
      <input type="submit" id="loginButton" name="loginButton" value="Log ig" />
    </span>
    <p><a href="?action=register">Registrarse</a></p>
  </div>
</form>
