<form id="register-form" method="post" action="?action=register">
  <div>
    <span class="form-line">
      <label for="emailText">E-mail</label>
      <input type="text" id="emailText" name="emailText" />
    </span>
    <span class="form-line">
      <label for="aliasText">Alias</label>
      <input type="text" id="aliasText" name="aliasText" />
    </span>
    <span class="form-line">
      <label for="passwordText">Password</label>
      <input type="password" id="passwordText" name="passwordText" />
    </span>
    <span class="form-line">
      <input type="submit" id="registerButton" name="registerButton" value="Register" />
    </span>
  </div>
</form>
